<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    <img src="images/gradient-bg.png" class="bg">
    <div class="con">
        <img src="images/beats-logo.png" class="logo">
        <img src="images/headphones.png" class="headphones">
        <h1 class="text">The Beats</h1>
        <h1 class="text-two">A56 Headset</h1>
        <div class="buttons">
            <a href="headphones/beats-air-max.html" class="btn">Buy Now</a>
            <a href="#products" class="btn-two">Shop All</a>
        </div>
        <div class="login-buttons">
            <a href="login" class="login-btn">Login</a>
            <a href="register" class="login-btn-two">Register</a>
        </div>
    </div>

    <!-- <div class="containerr"> -->
        <section id="products" class="containerr text-gray-600 body-font">
            <div class="px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-studio-pro.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/one.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Headphones</h3>
                    <a href="headphones/beats-studio-pro.html" class="text-gray-900 title-font text-lg font-medium">Beats Studio Pro</a>
                    <p class="mt-1">Rs.2,000</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-wireless-3.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/three.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Headphones</h3>
                    <a href="headphones/beats-wireless-3.html" class="text-gray-900 title-font text-lg font-medium">Beats Wireless 3</a>
                    <p class="mt-1">Rs.2,500</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-studio.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/four.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ear Buds</h3>
                    <a href="headphones/beats-studio.html" class="text-gray-900 title-font text-lg font-medium">Beats Studio</a>
                    <p class="mt-1">Rs.1,500</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-pro-1.0.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/five.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ear Buds</h3>
                    <a href="headphones/beats-pro-1.0.html" class="text-gray-900 title-font text-lg font-medium">Beats Pro 1.0</a>
                    <p class="mt-1">Rs.1,800</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-light-3.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/six.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ear Buds</h3>
                    <a href="headphones/beats-light-3.html" class="text-gray-900 title-font text-lg font-medium">Beats Light 3</a>
                    <p class="mt-1">Rs.1,600</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-pro-2.0.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/seven.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ear Buds</h3>
                    <a href="headphones/beats-pro-2.0.html" class="text-gray-900 title-font text-lg font-medium">Beats Pro 2.0</a>
                    <p class="mt-1">Rs.1,900</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-wings-2.html" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/eight.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ear Buds</h3>
                    <a href="headphones/beats-wings-2.html" class="text-gray-900 title-font text-lg font-medium">Beats Wings 2</a>
                    <p class="mt-1">Rs.1,800</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a href="headphones/beats-air-max.html" class="block relative  rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="products/two.jpg">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Headphones</h3>
                    <a href="headphones/beats-air-max.html" class="text-gray-900 title-font text-lg font-medium">Beats Air Max</a>
                    <p class="mt-1">Rs.2,200</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    
          <hr class="border-t border-gray-200 line">
    <!-- </div> -->

    <section class="text-gray-600 body-font mb-24">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The entire Senju Business is carried out and handled by just three people. You probably haven't heard about them, unless you were in the same college as they were. </p>
          </div>
          <div class="flex flex-wrap center -m-2">
            <div class="p-2 lg:w-1/3 ml-64 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="rounak" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="team/rounak.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Rounak Longani</h2>
                  <p class="text-gray-500">Front-end</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="team/ohm.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Ohm Chiluka</h2>
                  <p class="text-gray-500">Front-end</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 ml-64 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="team/salik.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Mohammad Salik Mulla</h2>
                  <p class="text-gray-500">Back-end</p>
                </div>
              </div>
          </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="team/nitish.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Nitish Nagargoje</h2>
                  <p class="text-gray-500">Back-end</p>
                </div>
              </div>
          </div>
        </div>
      </section>
    
    
</body>


<footer class="text-gray-600 body-font bg-color-r">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">POLICIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-black">Privacy Policy</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-black">Shipping Policy</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-black">Terms & Conditions</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-black">Headphones</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-black">Ear Buds</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SOCIAL MEDIA</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://www.facebook.com/beatsbydre/" target="_blank" class="text-gray-600 hover:text-black">Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/beatsbydre/?hl=en" target="_blank" class="text-gray-600 hover:text-black">Instagram</a>
            </li>
            <li>
              <a href="https://twitter.com/beatsbydre?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="text-gray-600 hover:text-black">Twitter</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">NEWSLETTER</h2>
          <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
            <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
              <label for="footer-field" class="leading-7 text-sm text-gray-600">E-Mail:</label>
              <input required type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none subscribe-hover rounded teko-font">SUBSCRIBE</button>
          </div>
          <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Get notified when new discounts
            <br class="lg:block hidden">or offers are available.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-color-rb">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a href="index.html" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img src="images/logo.png" class="w-16 h-16">
          <a href="index.html" class="ml-3 foot-logo">BEATS</a>
        </a>
        <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2023 Beats
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a href="https://www.facebook.com/beatsbydre/" target="_blank" class="text-gray-500 sm-btn">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 hover-white" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a href="https://twitter.com/beatsbydre?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="ml-3 text-gray-500 sm-btn">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 hover-white" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/beatsbydre/?hl=en" target="_blank" class="ml-3 text-gray-500 sm-btn">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 hover-white" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
        </span>
      </div>
    </div>
</footer>


</html>