
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beats</title>
    <link rel="shortcut icon" href="images/fav-iconn.png" type="image/x-icon">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
<img src="crushed.jpeg" alt="bg" class="bg-img">
    <div class="form-container">
        <form action="/login" method="post">
            <h3>LOGIN NOW</h3>
            
            <input type="email" name="email" required placeholder="Enter your email">
            <input type="password" name="password" required placeholder="Enter your password">
            <input type="submit" name="submit" value="Login Now" class="form-btn">
            <p>Don't have an account? <a href="register">Register now</a></p>
        </form>
    </div>
</body>
</html>