
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beats</title>
    {{!-- <link rel="shortcut icon" href="../../public/images/fav-icon.png" type="image/x-icon"> --}}
    <link rel="shortcut icon" href="images/fav-iconn.png" type="image/x-icon">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <img src="crushed.jpeg" alt="bg" class="bg-img">
    <div class="form-container">
        <form action="/register" method="POST">
            <h3>REGISTER NOW</h3>
            <input type="text" name="name" required placeholder="Enter your name">
            <input type="email" name="email" required placeholder="Enter your email">
            <input type="password" name="password" required placeholder="Enter your password">
            <input type="password" name="cpassword" required placeholder="Confirm your password">
            {{!-- <select name="user_type">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select> --}}
            <input type="submit" name="submit" value="Register Now" class="form-btn">
            <p>Already have an account? <a href="login">Login now</a></p>
        </form>
    </div>
</body>
</html>